// =============================================================================
// Colors
// =============================================================================

$white: #fff;
$off-white: #EEEEEE;
$black: #000;
$light-grey: #cccccc;
$grey: #6D6E71;
$dark-grey: #464646;
$red: #E50000;
$dark-red: #7F0000;