// =============================================================================
// Icons
// =============================================================================

// =============================================================================
// Breakpoints
// =============================================================================

$breakpoint-xss: 320px;
$breakpoint-xs: 480px;
$breakpoint-s: 767px;
$breakpoint-m: 991px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1200px;

// =============================================================================
// Fonts
// =============================================================================

$opensans--light: (font: "Open Sans", weight: 300, type: normal);
$opensans--regular: (font: "Open Sans", weight: 400, type: normal);
$opensans--bold: (font: "Open Sans", weight: 700, type: normal);
